TYPE="Ethernet"
PROXY_METHOD="none"
BROWSER_ONLY="no"
BOOTPROTO="none"
DEFROUTE="yes"
IPV4_FAILURE_FATAL="yes"
IPV6INIT="no"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_FAILURE_FATAL="no"
IPV6_ADDR_GEN_MODE="stable-privacy"
NAME="{{name}}"
UUID="05b3e8d2-2aee-4eaa-9be1-3d49c6abd527"
DEVICE="{{device}}"
ONBOOT="{{onboot}}"
IPADDR="{{ ipaddr }}"
PREFIX="{{prefix}}"
GATEWAY="{{gateway}}"
DNS1="{{dns1}}"
DNS2="{{dns2}}"
DOMAIN="{{domain}}"