TYPE="Ethernet"
PROXY_METHOD="none"
BROWSER_ONLY="no"
BOOTPROTO="none"
DEFROUTE="yes"
IPV4_FAILURE_FATAL="yes"
IPV6INIT="no"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_FAILURE_FATAL="no"
IPV6_ADDR_GEN_MODE="stable-privacy"
NAME="ens192"
UUID="05b3e8d2-2aee-4eaa-9be1-3d49c6abd527"
DEVICE="ens192"
ONBOOT="yes"
IPADDR="{{ ipaddr }}"
PREFIX="24"
GATEWAY="192.168.3.254"
DNS1="8.8.8.8"
DNS2="8.8.4.4"
DOMAIN="powellcompanies.com"